[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "biosensors.usc"]
	path = biosensors.usc
	url = https://github.com/glucodensities/biosensors.usc
